/* Language switcher */
.switcher .button-default{
		color: white;
		font-weight:normal;
		background-color: #424242;
		border: 1px solid #424242;
		/*-moz-border-radius: 6px;
		-webkit-border-radius: 6px;*/
		text-decoration: none;
		padding: 3px 3px 3px 8px;
		display: block;
		outline: 0;
}
.switcher .button-hover{
		/*border-color:#bbb;
		background-color: black;
		cursor: pointer;
		color: #444;*/
}
.switcher .button-active{
		color: #aaa;
		background: #000;
		border: 1px solid #ccc;
		border-bottom: 0;
		-moz-border-radius-bottomleft: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-bottomright: 0;
		-webkit-border-bottom-right-radius: 0,;
		outline: 0;
}

.switcher-icon{
	float: right;
	width: 16px;
	height: 16px;
	background: url(images/switcher-icon.gif) 50% 50% no-repeat;
}
.switcherpane{
	position: absolute;
		float: left;
		font-family: Trebuchet MS, Verdana, sans-serif;
		font-size: 12px;
		background: #000;
		color: #fff;
		padding: 8px 3px 3px;
		border: 1px solid #ccc;
		-moz-border-radius-bottomleft: 6px;
		-webkit-border-bottom-left-radius: 6px;
		-moz-border-radius-bottomright: 6px;
		-webkit-border-bottom-right-radius: 6px;
		border-top: 0;
		z-index: 999999;
}
.switcherpane ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}
.switcherpane li{
	border-color:#111;
	background-colr: #000;
	
	/*height: '',*/
	padding: 2px;
	margin: 1px;
	border: 1px solid #111;
	-moz-border-radius: 4px;
	clear: left;
	float: left;
}
.switcherpane li:hover{
	border-color:#555;
	background: url(images/switcher-hover-bg.png) 50% 50% repeat-x;
	cursor: pointer;
}
.switcherpane li a{
	color: white;
	text-decoration: none;
	float: left;
	width: 100%;
	outline: 0;
}	
.switcherpane a.img{
	float: left;
	border: 1px solid #333;
	margin: 0 2px;
	}